<h2>New practise session</h2>
<% form_for :catalogue, :url => {:action => :create } do |f| -%>
<%= f.error_messages %>

<p>
  <%= f.label ('Max new cards') %><br />
  <%= f.text_field :max_new_cards, :value => @settings[:max_new_cards] %>
</p>
<p>
  <%= f.label ('Max total cards') %><br />
  <%= f.text_field :max_total_cards, :value => @settings[:max_total_cards]  %>
</p>
<p>
  <%= f.submit 'Start!' %>
</p>
<% end %>
</div>

<%= link_to 'Back to your glossaries', glossaries_path %> 