<div class="new_practices_form">
<% form_for :catalogue, :html => {:id => 'test'}, :url => {:action => :create } do |f| -%>
<fieldset>
<legend>Study options</legend>
  <%= f.error_messages %>
  <div>
    <%= f.label ('New cards')%>
    <%= f.text_field :max_new_cards, :value => @settings[:max_new_cards], :size => '3' %>
  </div>

  <div>
    <%= f.label ('Highest amount of cards') %>
    <%= f.text_field :max_total_cards, :value => @settings[:max_total_cards], :size => '3'  %>
  </div>

  <div>
    <%= f.label ('Language order') %>
    <span onclick="switch_languages();" style="cursor: pointer;">
      
      <span id="from_language"><%= h @glossary.find_from_language %></span> ->
      <span id="to_language"><%= h @glossary.find_to_language %></span></div></span>
    <%= hidden_field_tag :language_order, :normal %>
  </div>
  
  <div>
    <%= f.submit 'Start!' %>
  </div>
</fieldset>
<% end %>
</div>

<p>
<%= link_to 'Back to your glossaries', glossaries_path %>
</p>
<script type="text/javascript">
//<![CDATA[

function switch_languages() {
  var from = document.getElementById("from_language");
  var to = document.getElementById("to_language");
  var temp = from.innerHTML;
  from.innerHTML = to.innerHTML;
  to.innerHTML = temp;
  
  var language_order = document.getElementById("language_order");
  
  switch (language_order.value)
  {
  case "normal":
    language_order.value = "reversed";
    break;
  case "reversed":
    language_order.value = "normal";
    break;
  }

  
  }
//]]
</script>