<h2>Study options</h2>
<div class="new_practices_form">
<% form_for :catalogue, :url => {:action => :create } do |f| -%>
  <%= f.error_messages %>
  
  <p>
    <div id="label"><%= f.label ('New cards')%></div>
    <%= f.text_field :max_new_cards, :value => @settings[:max_new_cards], :size => '3' %>
  </p>
  <p>
    <div id="label"><%= f.label ('Maximum amount of cards (including old cards)') %></div>
    <%= f.text_field :max_total_cards, :value => @settings[:max_total_cards], :size => '3'  %>
  </p>
  <p>
    <%= f.submit 'Start!' %>
  </p>
<% end %>
</div>

<%= link_to 'Back to your glossaries', glossaries_path %> 