<% if !(shared_dictionaries).empty? %>

<% shared_dictionaries.each do |dictionary| %>
  <li style="border-bottom: 1px dotted;">
    <% form_for :dictionary,
                :url => { :action => "create_imported" ,
                          :dictionary_id => dictionary.id}  do |f| %>
      <p><b><%= h dictionary.title %></b> (<%= h dictionary.questions.count %> questions) </p>
      <p><%= h dictionary.description %></p>
      <p><%= f.submit 'Import' %></p>
    <% end %>
  </li>
  <% end %>
  
<% else %>
  <%= h "Sorry, there are no glossaries availible for the language you've selected" %>
  
<% end %>

