<h2>Editing "<%= h @glossary.title %>"</h2>

<% form_for(@glossary) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label "Want it to be public?" %>
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label "Allow others to edit?" %>
    <%= f.check_box :shared %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', glossaries_path %>