<% if logged_in? %>
  <% if @glossaries.length >= 1 %>
  <h2>Your Glossaries</h2>
  <table class="glossaries_table">
  
  <% @glossaries.each do |glossary| %>
    <tr>
      <td><%= link_to ("practise!"), new_glossary_practise_path(glossary) %>
      </td>
      <td><%= h glossary.title %>
      </td>
      <td>
        <% if glossary.shared? %>
          <b>Shared glossary,</b>
        <% end %>
        (<%="#{h glossary.find_from_language} - #{h glossary.find_to_language}, #{h glossary.cards.count} cards" %>)</td>
      <% unless glossary.shared? && !is_owner(glossary) %>
        <td class="first_action">  <%= link_to 'Change the details', edit_glossary_path(glossary), :class => "action" %></td>
      <%end%>
      <td>  <%= link_to 'Edit the words', glossary_cards_url(glossary)  %>  </td>
      <td>
        <% if glossary.shared? %>
          <%= link_to 'Remove link', glossary, :confirm => 'Are you sure?', :method => :delete, :class => "action" %></td>
        <% else %>
          <%= link_to 'Delete', glossary, :confirm => 'Are you sure?', :method => :delete, :class => "action" %></td>
        <%end%>
    </tr>
  <% end %>
  </table>
  
  <ul class="action_list">
      <li><%= link_to 'Create new', new_glossary_path %></li>
      <li><%= link_to 'Select from catalogue', new_catalogue_path %></li>
    </ul>  
  
  <% else %>
    <p>
      On this page you can manage your existing glossaries. But first we need to
      either copy on from the Catalogue or start from scratch on a new one.</p>
    <p>
      Would you like to: 
    </p>
    <ul class="action_list">
      <li><%= link_to 'Create new', new_glossary_path %></li>
      <li><%= link_to 'Select from catalogue', new_catalogue_path %></li>
    </ul> 
  <% end %>
<% else %>
<p>
  Here you can create your own flashcard based glossary to practise on.
</p>
<p>
  This is very useful for practising on all the new vocabulary you have to learn when
following a language course. You also have a possibility to share theese lists with, for
example you friends from school or other people which may be interested.
</p>
<p>
  Using an intelligent algorithm we only repeat the cards as often as
necessary for you to be able to learn them as quick as possible.
In order for this to work you need to tell us after each card how well you could remember
each it, using a scale from 1 to 6.
</p>
<p>
  So please either log in and or create a new user to start building up your vocabulary!
</p>
<%end%>
