<% if logged_in? %>
<% if current_user.glossaries.count < 1 %>
  <p>Hi <%=current_user%>! You seem to be new on our site. There are already
  a lot of flashcard sets which other users have created and decided to share
  with the rest of us. Would you like to take a look inside and see if there is
  anything you could use?</p>
   <p>
      <%= link_to 'Yes! take me to the catalogue', catalogue_path, :class => "large blue button" %> 
    </p>
  <p>
    If you cant find anything which fit your need, you can also create a new set of cards.
    all you have to enter is a short description and between which languages
    you are translating. Enjoy!
  </p>
  <p>
    <%= link_to 'New set', new_glossary_path, :class => "large blue button" %> 
  </p>
<% end %>  

<% if @glossaries.length >= 1 %>
  <h2>Your flashcard sets</h2>
  <table class="glossaries_table">
  
  <% @glossaries.each do |glossary| %>
    <tr>
      <td><%= link_to ("practise!"), new_glossary_practise_path(glossary) %>
      </td>
      <td><%= h glossary.title %>
      </td>
      <td>
        <% if glossary.shared? %>
          <b>Shared glossary,</b>
        <% end %>
        (<%="#{h glossary.find_from_language} - #{h glossary.find_to_language}, #{h glossary.cards.count} cards" %>)</td>
      <% unless glossary.shared? && !is_owner(glossary) %>
        <td class="first_action">  <%= link_to 'Change the details', edit_glossary_path(glossary), :class => "action" %></td>
      <%end%>
      <td>  <%= link_to 'Edit the words', glossary_cards_url(glossary)  %>  </td>
      <td>
        <% if glossary.shared? %>
          
        <% else %>
          <%= link_to 'Delete', glossary, :confirm => 'Are you sure?', :method => :delete, :class => "action" %></td>
        <%end%>
    </tr>
  <% end %>
  </table>
  
  <ul class="action_list">
      <li><%= link_to 'Create new', new_glossary_path %></li>
      <li><%= link_to 'Select from catalogue', catalogue_path %></li>
    </ul>  
<%end%>
<% else %>

<p>
  Here you can create your own flashcard based glossary to practise on.
</p>
<p>
  This is very useful for practising on all the new vocabulary you have to learn when
following a language course. You also have a possibility to share theese 
in our public catalogue of <%=link_to 'flashcard sets', catalogue_path %> </a>  
</p>
<p>
  Using an intelligent algorithm we only repeat the cards frequently until you've started
  to recognize them. In order for this to work you need to tell us after each card how well you could remember
  it, using a scale from 1 to 6.
</p>
<p>Curious to see what does it look like? (click on an image to make it bigger)</p>
    <a href="images/linguar_new_glossary.jpg" rel="lightbox[sitepics]" title="Creating your new glossary">
      <%=image_tag("linguar_new_glossary_thumb.jpg", :size => "60x60")%></a>
    <a href="images/linguar_add_cards.jpg" rel="lightbox[sitepics]" title="Adding some cards to it">
      <%=image_tag("linguar_add_cards_thumb.jpg", :size => "60x60")%></a>
    <a href="images/linguar_practise.jpg" rel="lightbox[sitepics]" title="Revising a glossary">
    <%=image_tag("linguar_practise_thumb.jpg", :size => "60x60")%></a> 
<%end%>
