<% if logged_in? %>
<% if current_user.glossaries.count < 1 %>
  <p>Hi <%=current_user%>! You seem to be new on our site. There are already
  a lot of flashcard sets (<a href="http://http://en.wikipedia.org/wiki/Flashcard">what is a flashcard?</a>) which other users have created and are sharing
  with the rest of us. Would you like to take a look inside the database and see if there is
  anything you could use?</p>
   <p>
      <%= link_to 'Yes! take me to the catalogue', catalogue_path, :class => "large blue button" %> 
    </p>
  <p>
    If you cant find anything which fits your need, you can also create a new set of cards.
    Enjoy!
  </p>
  <p>
    <%= link_to 'New set', new_glossary_path, :class => "large blue button" %> 
  </p>
<% end %>  

<% if @glossaries.length >= 1 %>
  <h2>Your flashcard sets</h2>
  <table class="glossaries_table">
  
  <% @glossaries.each do |glossary| %>
    <tr>
      <td><%= link_to ("Rehearse the words!"), new_glossary_practise_path(glossary) %>
      </td>
      <td><%= h glossary.title %>
      </td>
      <td>
        <% if glossary.shared? %>
          <b>Shared glossary,</b>
        <% end %>
        (<%="#{h glossary.find_from_language} - #{h glossary.find_to_language}, #{h glossary.cards.count} cards" %>)</td>
      <% unless glossary.shared? && !is_owner(glossary) %>
        <td class="first_action">  <%= link_to 'Change the details', edit_glossary_path(glossary), :class => "action" %></td>
      <%end%>
      <td>  <%= link_to 'Edit the words', glossary_cards_url(glossary)  %>  </td>
      <td>
        <% if glossary.shared? %>
          
        <% else %>
          <%= link_to 'Delete', glossary, :confirm => 'Are you sure?', :method => :delete, :class => "action" %></td>
        <%end%>
    </tr>
  <% end %>
  </table>
  
  <ul class="action_list">
      <li><%= link_to 'Create new (empty) set', new_glossary_path, :class => "blue button" %></li>
      <li style="margin-top: 1em;"><%= link_to 'Copy a set from the catalogue', catalogue_path, :class => "blue button" %></li>
    </ul>  
<%end%>
<% else %> 
<h2>This is a vocabulary drill tool</h2>
<p>An excellent supplement to your meetings with tandem partner, 
language course, pen pal or for individual study.
</p>
<p>
Instead of using traditional flashcards this vocabulary trainer uses a unique approach to
learning vocabulary which is optimized for lifetime learning,
not just for short-term memorization.<br /><br />Works with any target language!
</p>
<p>
Create a your own set of flashcards containing words and expressions
you have to learn. Or if you are a group of people learning together then
we also offer the possibility for you all to cooperate on the same set!</p>
<p>
There is also public catalogue of sets which other users have been creating.
Have a look here first to see if someone already have created something
which you could use!
</p>
<p>
<%=link_to 'Browse flashcard sets', catalogue_path, :class =>  "large blue button" %> </a>
</p>

<%end%>
