<% if logged_in? %>
<% if current_user.glossaries.count < 1 %>
  <p>Hi <%=current_user%>! You seem to be new on our site. There are already
  a lot of flashcard sets which other users have created and decided to share
  with the rest of us. Would you like to take a look inside and see if there is
  anything you could use?</p>
   <p>
      <%= link_to 'Yes! take me to the catalogue', catalogue_path, :class => "large blue button" %> 
    </p>
  <p>
    If you cant find anything which fit your need, you can also create a new set of cards.
    all you have to enter is a short description and between which languages
    you are translating. Enjoy!
  </p>
  <p>
    <%= link_to 'New set', new_glossary_path, :class => "large blue button" %> 
  </p>
<% end %>  

<% if @glossaries.length >= 1 %>
  <h2>Your flashcard sets</h2>
  <table class="glossaries_table">
  
  <% @glossaries.each do |glossary| %>
    <tr>
      <td><%= link_to ("practise!"), new_glossary_practise_path(glossary) %>
      </td>
      <td><%= h glossary.title %>
      </td>
      <td>
        <% if glossary.shared? %>
          <b>Shared glossary,</b>
        <% end %>
        (<%="#{h glossary.find_from_language} - #{h glossary.find_to_language}, #{h glossary.cards.count} cards" %>)</td>
      <% unless glossary.shared? && !is_owner(glossary) %>
        <td class="first_action">  <%= link_to 'Change the details', edit_glossary_path(glossary), :class => "action" %></td>
      <%end%>
      <td>  <%= link_to 'Edit the words', glossary_cards_url(glossary)  %>  </td>
      <td>
        <% if glossary.shared? %>
          
        <% else %>
          <%= link_to 'Delete', glossary, :confirm => 'Are you sure?', :method => :delete, :class => "action" %></td>
        <%end%>
    </tr>
  <% end %>
  </table>
  
  <ul class="action_list">
      <li><%= link_to 'Create new', new_glossary_path %></li>
      <li><%= link_to 'Select from catalogue', catalogue_path %></li>
    </ul>  
<%end%>
<% else %>

<p>
This is a vocabulary drill tool which is an excellent supplement to your meetings with tandem partner, 
language course, pen pal or for individual study.
</p>
<p>
Instead of using traditional flash cards this vocabulary trainer uses a unique approach to
learning vocabulary which is optimized for lifetime learning,
not just for short-term memorization.<br />Works with any target language!
</p>
<p>
Either create a new set of flashcards which you can share to your friends or even cooperate
with them on it. Cooperating can be very helpful when you are a group of people
learning a new language and each member can enter a few words or expressions a day.
</p>
<p>
Browse through our database of already existing <%=link_to 'flashcard sets', catalogue_path %> </a>
and see if there is anything which would be useful for you!
</p>

<%end%>
