<h2>New set:</h2>
<div class="form">
<% form_for(@glossary, :html => { :multipart => true })do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :style => "width: 350px;" %>
  </p>
  <p>
    <%= f.label(:language, "From language") %> <br />
    <%= select("glossary", "from_language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] }) %>
  </p>
  <p>
    <%= f.label(:language, "To language") %> <br />
    <%= select("glossary", "to_language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] }) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :style => "width: 350px; height: 200px;" %>
  </p>
   <p>
    <%= f.label "Should it appear in the Catalogue?" %>
    <%= f.check_box :public, {:checked => false}%>
  </p>
  <p>
    <%= f.label "Allow others to edit?" %>
    <%= f.check_box :shared, {:checked => false}%>
  </p>
  <p>
      <%= f.label "Import a Mnemosyne file?" %><br />
      <%= file_field(:attachment, :file, :class => 'file_input') -%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
<%= link_to 'Back', glossaries_path %>