<h2>New dictionary:</h2>
<div class="form">
<% form_for(@glossary) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label(:language, "From language") %>
    <%= select("glossary", "from_language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] }) %>
  </p>
  <p>
    <%= f.label(:language, "To language") %>
    <%= select("glossary", "to_language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] }) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
   <p>
    <%= f.label "Allow everyone to view?" %>
    <%= f.check_box :public, {:checked => true}%>
  </p>
    <p>
    <%= f.label "Allow others to edit?" %>
    <%= f.check_box :shared, {:checked => false}%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
<%= link_to 'Back', glossaries_path %>