<div class="tandem_post">
	<div class="post_header">
	<% link_to(post, :rel => 'nofollow', :target => '_blank'  )do %>
		<h2><%= h post.user.login.capitalize %></h2>
	<% end %>
	</div>
	<div style="float: left; width:20%;">
		<%= avatar_for(post.user) %>
		<% if post.location != nil %>
			<p>Living in: <%= h post.location %></p>
		<% end %>
	</div>
	
	<div style="float: left; margin-left:50px;">
		<table class="tandem_table">
			<tr>
				<td class="left_col">Looking for: </td>
				<td>
					<b><%= h post.post_type_to_string(post.post_type-1).capitalize %></b>
				</td>
			</tr>
			<tr>
				<td class="left_col">Offering language:</td>
				<td><%= h find_name_for_language(post.offering_language) %></td>
			</tr>
			<tr>
				<td class="left_col">Wants to learn:</td>
				<td><%= h find_name_for_language(post.learning_language) %></td>
			</tr>
			<tr>
				<td class="left_col">Description:</td>
				<td><%= simple_format(sanitize(post.motivation)) %></td>
				<td style="vertical-align:bottom;">
					<%= link_to 'Read more', url_for(post), :class => "large blue button" %></td>
			</tr>
		</table>
	</div>
</div>
<div style="clear: both; border-bottom:  1px dotted;"></div>
