<div class="tandem_post">
	<div class="post_header">
	<% link_to(post, :rel => 'nofollow' )do %>
		<h2><%= h post.user.login.capitalize %></h2>
	<% end %>
	</div>
	<div style="float: left; width:25%;">
		<%= avatar_for(post.user) %>
		<% if post.location != nil %>
			<p>Living in: <%= h post.location %></p>
			<p>
			</p>
		<% end %>
	</div>
	
	<div style="float: left; width: 60%;">
		<table class="tandem_table index">
			<tr>
				<td class="left_col">Looking for: </td>
				<td class="small">
					<b><%= h post.post_type_to_string(post.post_type-1).capitalize %></b>
				</td>
			</tr>
			<tr>
				<td class="left_col">Offering language:</td>
				<td class="small"><%= h find_name_for_language(post.offering_language) %></td>
			</tr>
			<tr>
				<td class="left_col">Wants to learn:</td>
				<td class="small"><%= h find_name_for_language(post.learning_language) %></td>
			</tr>
			<tr>
				<td class="left_col">Description:</td>
				<td class="small"><%= simple_format(sanitize(post.motivation)) %></td>				
			</tr>
		</table>
		
	</div>
</div>
<div style="clear: both;"></div>
