<div class="tandem-post">
	<div class="tandem_header">
	<% link_to(post, :rel => 'nofollow', :target => '_blank'  )do %>
		<h2><%= h post.user.login.capitalize %> </h2>
			
	<% end %>
	<% if post.location != nil %>
		<%= h post.location %>
	<% end %>
	</div>
	<div class="left-col">	
		<%= avatar_for(post.user) %>
		<p>Looking for a <br /><b><%= h find_name_for_language(post.learning_language) %> <%= h post.post_type_to_string(post.post_type-1) %></b></p> <br />
		<p>Offering: <%= h find_name_for_language(post.offering_language) %></p>
	</div>
	<div class="right-col">
		<h2>Motivation</h2>
		<p><%=  truncate(simple_format(sanitize(post.motivation)), 50, '...') %></p>
		<h2>Users description</h2>
		<p><%=  truncate(simple_format(sanitize(post.user.bio)), 100, '...')  %></p>		
	</div>
</div>
