<%= javascript_include_tag "tandems_new" %>

<h2>Post details</h2>
<div class="form">
<% form_for @tandem do |f| %>
  <%= f.error_messages %>
		<p>
    		<b>1</b>. What are you searching for? <br />
    		<%= select "tandem", "post_type", options_for_select(@types, @tandem.post_type) %>
  		</p>
		<p>
    		<b>2</b>. Which language are you offering?<br />
    		<%= select("tandem", "offering_language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] })%>
  		</p>
  		<p>
    		<b>3</b>. Which language are you learning?<br />
    		<%= select("tandem", "learning_language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] })%>
  		</p>
		<p>
    		<b>4</b>. Write a short description text for the search page<br />
    		<%= f.text_area :motivation, :style => "width: 30em; height: 5em;", :maxlength=>"250", :cols => "50",
							:onKeyDown => "limitText(this.form.tandem_motivation,this.form.countdown,250);",
							:onKeyUp => "limitText(this.form.tandem_motivation,this.form.countdown,250);" %>
			<br />You have <input readonly type="text" name="countdown" style="width: 2em;" value="250"> characters left.
			
  		</p>
		<p>
    		<b>5</b>. Give others a more detailed text about of your self: (optional)<br />
    		<%= f.text_area :bio, 
							:style => "width: 30em; height: 5em;",
							:maxlength=>"250", :cols => "50",
							:value => current_user.bio %>
			
  		</p>
		<p>
    		<b>6</b>. Hobbies: (optional)<br />
    		<%= f.text_area :hobbies,
							:style => "width: 30em; height: 5em;",
							:maxlength=>"250",
							:cols => "50",
							:value => current_user.hobbies%>
  		</p>
		<p>
    		<b>7</b>. Profession: (optional)<br />
    		<%= f.text_area :profession,
							:style => "width: 30em; height: 5em;",
							:maxlength=>"250",
							:cols => "50",
							:value => current_user.profession%>
  		</p>
		<p>
		<b>8</b>. Where do you live? (ex Berlin, Kreuzberg)<br />
		<%= f.text_field :location, :value => @tandem.location || "" %>
			
		<%= link_to_remote "Locate on map", :url => update_map_tandems_path,
:with => "'address='+encodeURIComponent($F('tandem_location'))",
:method => :get %>
		
		<%= @map.div(:width => 500,:height => 300) %>
		</p>
  		<p>
    	<b>9</b>. <br /><%= f.submit 'Update!' %>
  		</p>
	<% end %>
</div>

<%= link_to 'Back', tandems_path %>



