<div class="tandem-post" style="overflow: auto; width: 100%;">

<% @tandems.each do |tandem| %>
	<div style="border-bottom: 1px solid; padding: 5px;">
		<div style="float: left; width: 200px;">
			<% link_to(tandem.user) do %>
				<h2><%= h tandem.user.login %></h2>
			<% end %>
			<%= avatar_for(tandem.user) %>
			<p style="margin-bottom: 0;">Speaks: English</p>
			<p style="margin: 0;">Wants to learn: <%= h find_name_for_language(tandem.learning_language) %></p>
		</div>
		<div style="float: right; width: 600px;">
			<h2>Motivation</h2>
			<p><%= h tandem.motivation %></p>		
			<p>location: <%= h tandem.lat %></p>	
		</div>
	</div>
	<div style="clear: both;"></div>
<% end %>
</div>