<%= javascript_include_tag "tandems_new" %>
<h2>Create a new tandem post</h2>
<div class="form">
<% form_for @tandem do |f| %>
  <%= f.error_messages %>
		<p>
    		What are you searching for?<br />
    		<%= select_tag 'tandem[post_type]', options_for_select(@types),  :size => 1 %>
  		</p>
		<p>
    		Which language are you offering?<br />
    		<%= select("tandem", "offering_language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] })%>
  		</p>
  		<p>
    		Which language are you learning?<br />
    		<%= select("tandem", "learning_language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] })%>
  		</p>
		<p>
    		Why are you learning it?<br />
    		<%= f.text_area :motivation, :style => "width: 30em; height: 5em;", :maxlength=>"250", :cols => "50",
							:onKeyDown => "limitText(this.form.tandem_motivation,this.form.countdown,250);",
							:onKeyUp => "limitText(this.form.tandem_motivation,this.form.countdown,250);" %>
			<br />You have <input readonly type="text" name="countdown" style="width: 2em;" value="250"> characters left.
			
  		</p>
		<p>
		Where do you live? (click on the map to select)
		<div id="map" style="width: 400px; height: 300px"></div>
		</p>
		<input type="hidden" id="lat" name="tandem[lat]" />
		<input type="hidden" id="lng" name="tandem[lng]" />
  		<p>
    		<%= f.submit 'Create' %>
  		</p>
	<% end %>
</div>

<%= link_to 'Back', tandems_path %>
