<%= javascript_include_tag "tandems_search" %>

<h2>Find a language partner</h2>
<div class="form">
<% form_tag tandems_path, :method => 'get' do %>
		<p class="label_checkbox_pair">
			<b>1</b>. What are you searching for?</p>
			<%= check_box_tag('filters[tandem_partner]', true) -%>
			<%= label_tag :tandem_partner,  'Tandem partner (for meeting up locally)' %>
			<br />
			<%= check_box_tag 'filters[pen_pal]', true -%>
			Pen pal
			<br />
		</p>
		<p>
			<b>2</b>. Which language are you learning?<br />
			<%= select("filters", "language", Language.find(:all, :order => "name").collect {|l| [l.name, l.id] })%>
		</p>
		<p>
		<b>3</b>. Where do you want to search? (ex Berlin, Friedrichshain)<br />
		<%= text_field_tag('filters[location]') %>
		<p>
		<b>4</b>.<br />
		<%= submit_tag 'Search Linguar.com', :name => nil%>
		</p>
	<% end %>
</div>

<%= link_to 'Back', tandems_path %>
