<% if @tandem.user == current_user %>
<%= link_to 'Remove post', @tandem, 
					        :class => "list-actions", :confirm => 'Are you sure?', 
					        :method => :delete %>
<%end%>
<div class="tandem-post">
	
	<div class="tandem_header">	
	<h2><%= h @tandem.user.login.capitalize %></h2>
	<% if @tandem.location != nil %>
		Living in: <%= h @tandem.location %>
	<% end %>
  	
	</div>
	<div class="left-col">	
		<%= avatar_for(@tandem.user) %>
		<p>Looking for a <br /><b>
        <%= h find_name_for_language(@tandem.learning_language) %>
        <%= h @tandem.post_type_to_string(@tandem.post_type-1) %></b></p> <br />
		<p>Offering: <%= h find_name_for_language(@tandem.offering_language) %></p>
        <br />
        <%= link_to 'Contact User', contact_user_path(@tandem.user) , :class => "large blue button" %> 
        
    </div>
	<div class="right-col">
		<h2>Motivation</h2>
		<p><%=  simple_format(sanitize(@tandem.motivation))  %></p>
		<h2>Description</h2>
		<p><%=  simple_format(sanitize(@tandem.user.bio))  %></p>
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Flanguage_partners%2F11-searching-for-a-english-to-english-language-partner&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:30px;" allowTransparency="true"></iframe>		
	</div>
</div>

<div style="clear: both;"></div>
<p>
<% link_to 'More language partners', tandems_path %>
</p>


