<div class="tandem_post">
	<div style="float: left; width:20%;">
		<b><%= h @tandem.user.login.capitalize %> 	</b>
		<p>
			<%= "#{@tandem.user.age} years old, " unless @tandem.user.age == nil %>	
			<%= "#{@tandem.user.gender_to_s}<br />" unless @tandem.user.gender == nil %>		
			<%= h "Living in: #{@tandem.location.capitalize}" unless @tandem.location == nil %>
		</p>
		<%= avatar_for(@tandem.user) %>
		<p>
		<% if (@tandem.user == current_user)  %>
				<%= link_to '--Change your picture--', avatars_path %>
		<% end %></p>
		<p><%= link_to 'Contact User', contact_user_path(@tandem.user) , :class => "large blue button" unless @tandem.user == current_user %>
			<% if @tandem.user == current_user %>
			<p><%= link_to 'Change details', edit_tandem_path(@tandem), 
								        :class => "blue button" %></p>
			<%= link_to 'Remove post', @tandem, 
								        :class => "blue button", :confirm => 'Are you sure?', 
								        :method => :delete %>
			<%end%>		
		</p>	
	</div>
	
	<div style="float: left; margin-left:50px;">
		<table class="view_item tandem_table">
			<tr>
				<td class="left_col">Looking for: </td>
				<td>
					<b><%= h find_name_for_language(@tandem.learning_language) %> -
					<%= h find_name_for_language(@tandem.offering_language) %>
					 <%= h @tandem.post_type_to_string(@tandem.post_type-1) %>  
					<%= h " in #{@tandem.location.capitalize}" unless @tandem.location == nil %></b>
				</td>
			</tr>
			<tr>
				<td class="left_col">Offering language:</td>
				<td><%= h find_name_for_language(@tandem.offering_language) %></td>
			</tr>
			<tr>
				<td class="left_col">Wants to learn:</td>
				<td><%= h find_name_for_language(@tandem.learning_language) %></td>
			</tr>
			<tr>
				<td class="left_col">About me:</td>
				<td><%=  simple_format(sanitize(@tandem.user.bio))  %>
					<% if (@tandem.user == current_user) && @tandem.user.bio == ""%>
						<%= link_to '--Write something about yourself--', edit_tandem_url(@tandem) %>
					<% end %>
				</td>	
			</tr>	
			<tr>
				<td class="left_col">Hobbies / interests:</td>
				<td><%= simple_format(sanitize(@tandem.user.hobbies)) %>
				<% if (@tandem.user == current_user) && @tandem.user.hobbies.to_s == ""%>
						<%= link_to '--Add your hobbies--', edit_tandem_url(@tandem) %>
					<% end %>
				</td>	
			</tr>
			<tr>
				<td class="left_col">Profession:</td>
				<td><%= simple_format(sanitize(@tandem.user.profession)) %>
				<% if (@tandem.user == current_user) && @tandem.user.profession.to_s == ""%>
						<%= link_to '--Add your profession--', edit_tandem_url(@tandem) %>
				<% end %></td>	
			</tr>
		</table>
	</div>
</div>

<div style="clear: both;"></div>
<div style="text-align: right;">
	

</div>
<p>
<% link_to 'More language partners', tandems_path %>
</p>


