<div class="home-left">
  <%if !logged_in? %>
    <h2>Welcome to Linguar.com</h2>
    <p>
        This is a site for everybody struggling to learn a new language.
    </p>
    <p>
        It features a <b><%= link_to 'vocabulary trainer', glossaries_path %></b> and a forum for finding
        <b><%= link_to 'pen pals', forums_path %></b> 
        and to ask for help regarding translations, grammar and so on.
    </p>
    <p>
      You can create your own
      <b><%= link_to 'flashcard', glossaries_path %></b> based
      glossary to train on.<br />
      This is very useful for remembering all
      the new words you get when following a language course, words you
      pick up from tandem partners or maybe just from walking around. <br />
      
      You also have a possibility to <b>share theese lists with your
      friends</b> from school or with other people which may be interested.
    </p>
    <p>
      Using a <b>sophisticated spacing algorithm</b> you will be able to learn the cards
      as fast as possible!
    </p>
    
    <p>
      <%= link_to image_tag( "regbutton.png", :border => 0 ), register_path %> 
    </p>
    <p style="margin-top: 50px;">Latest topics in forum</p>
  <%= render :file => 'topics/index' %>
 
  
</div>
<div style="text-align: right; margin: 5px 10px 5px 0px;">Already a member? <%= link_to 'login', login_path %></div>
<div class="home-right" style="border-left: 1px dotted; padding: 0px 0px 10px 10px;">
  <h3>What does it look like?</h3>
  <p>(click on an image to make it bigger)
  <p style="border-bottom: 1px dotted;">
  <a href="images/linguar_new_glossary.jpg" rel="lightbox[sitepics]" title="Creating your new glossary">
    <%=image_tag("linguar_new_glossary_thumb.jpg")%></a>
  </p>
  <p style="border-bottom: 1px dotted;">
  <a href="images/linguar_add_cards.jpg" rel="lightbox[sitepics]" title="Adding some cards to it">
    <%=image_tag("linguar_add_cards_thumb.jpg")%></a>
  </p>
  <p style="border-bottom: 1px dotted;">
  <a href="images/linguar_practise.jpg" rel="lightbox[sitepics]" title="Revising a glossary">
    <%=image_tag("linguar_practise_thumb.jpg" )%></a>
  </p>

<%else%>
<h2>Welcome <%=current_user%>!</h2>
<p>Latest topics in forum</p>
  <%= render :file => 'topics/index' %>
<%end%>
</div> 
<div class="clear"> </div>