<div class="home-left">
<h2>Welcome <%=current_user%>!</h2>
<% if current_user.bio.blank? %><p>
Your user profile seems to be empty. <br />If you are looking for a tandem partner or pen pal we recommend 
writing a bit about yourself, to make it easier for other users to find you! </p>
	<%= link_to 'Edit my profile', edit_user_path(@user), :class => "large blue button" %> 
<% end %>

<% if @tandems.count >= 1 %>
<h3>Your tandem posts</h3>
	<% @tandems.each do |tandem| %>
		<% link_to tandem do %>
			<%= h tandem.offering_language_to_string %> - 
			<%= h tandem.learning_language_to_string %> 
			<%= h tandem.created_at.to_s %> <br/>
	    <%end%>
		
	<% end %>

<% elsif current_user.bio  %>
<p>Are you looking for a pen pal or tandem partner? </p>
	<%= link_to 'Insert a new post', new_tandem_path, :class => "large blue button" %> 
<%end%>

<h3>Latest topics in forum</h3>
  <%= render :file => 'topics/list_home' %>
</div> 
<div class="clear"> </div>