<% form_for :catalogue, :url => {:action => :show } do |f| -%>
<p>Sort by language: 
 
  <%= select_tag :language,
    options_from_collection_for_select(@languages, 'id', 'name', @language.to_i), {
  	  
      :style => "width: 150px;",
      :id => "language"}
    %>
  
  <%= submit_tag 'Continue' %>
<% end -%>

<div id="glossaries_container">
<% @glossaries.each do |glossary| %>

<div class="gloss_container" onclick="window.open(href='<%= glossary_cards_url(glossary) %>'); return false;">
  <div style="padding-top: 5px; float: left; width:120px; height:70px;">
      <%= h find_name_for_language(glossary.to_language) %> -
      <%= h find_name_for_language(glossary.from_language) %><br />
      <%= h glossary.cards.count %> cards<br />
      <br />
      <p style="font-size: smaller;">
        <b>Author:</b> <%= h glossary.users.first %><br />
        <% if glossary.shared %>
          <b>Editable</b> by others
        <%end-%>
      </p>
  </div>
  <div style=" float: left; height:70px; width: 500px;">
    
    <span style="font-size: 18px;"><%= link_to (h glossary.title), glossary_cards_url(glossary)%></span><br />
    <%= h glossary.description %>
  </div>
</div>
<%end%>

<%if @glossaries.length < 1 %>
 <p>Sorry no glossares for the selected languages could be found.</p>
 <p>Would you like to <%= link_to 'create one', new_glossary_path %>?
 
<%end%>
</div>