<% if @glossary %>
<h2 class="title"> "<%= h @glossary.title %>" </h2>
<% if !is_owner? && !in_user_glossary_list? %>

<p>
    <%= link_to "Make your own copy of this glossary", clone_glossary_url(@glossary) %>
</p>
<% if @glossary.shared? %>
    <p>
        This glossary is also <b>editable</b> by everybody, instead of making your own copy
        you can choose to cooperate with others.<br /> All your changes are then going
        to affect everybody.
    </p>
    <p>
        <%= link_to "Cooperate on this glossary", add_shared_glossary_url(@glossary) %>  
    </p>
<%end-%>
<%end-%>
<table class="question_table">
    <thead>
        <td><%= h find_name_for_language(@glossary.from_language) %></td>
        <td><%= h find_name_for_language(@glossary.to_language) %></td>
    </thead>
    <% if @glossary.shared? || is_owner? %>
        <tr>
        <% form_for :card, 
                    :url => { 	    :controller 	=> "cards", 
                                    :action    	    => "create", 
                                    :glossary_id 	=> @glossary.id } do |f| %>
    
                <%= f.error_messages %>
                <td>
                    <%= f.text_field :question %>
                </td>
                <td>
                    <%= f.text_field :answer %>
                </td>
                <td>
                    <%= submit_tag "Create", :class => "submit" %>
                </td>
        </tr>       
        <% end %>	 
    <% end %>
    <% if @cards %>
        <% for card in @cards %>
            <tr>
            <td><%=h card.question %></td>
            <td><%=h card.answer %></td>
            <% if @glossary.shared? || is_owner? %>
            <td>
            <%= link_to "Edit", { 	:action     	=> "edit", 
                                    :glossary_id	=> card.glossary.id.to_s,
                                    :id				=> card.id },
                                    :class => "action"%>
            <% if is_owner? %>                        
            <%= link_to('Delete',  glossary_card_url(@glossary, card) ,
                                    :method => 'delete',
                                    :class => "action",
                                    :confirm => 'Are you sure?') %> 
            <%end%>
            </td>
            <%end-%>
            </tr>
        <%end%>
    <% end %>
    
</table>
<%= will_paginate @cards %>
<p>
<%= link_to 'To your glossaries', glossaries_path %> 
</p>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('card_question').focus();
}
</script>
<%end-%>



