<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="<%=h page_title -%>" />
  <title><%=h page_title -%></title>
  <%= render :file => 'shared/rss' unless @settings.private? %>
  <%= javascript_include_tag "prototype", "audio_player", "calendar_date_select", "prototip", :cache => true %>
  <script type="text/javascript" src="http://linguar.com/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script type="text/javascript" src="http://linguar.com/javascripts/lightbox.js"></script>
  <link rel="stylesheet" href="http://linguar.com/stylesheets/lightbox.css" type="text/css" media="screen" />
  <% favicon_tag %>
  <%= theme_css %>
<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAKC_hvdLBE54UllMJ11fWYxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTr4K4aT9A_6XWQ1KG2aCWBsVl7lw"
    type="text/javascript"></script>
</head>
</head>
<body>
  <div class="wrapper">
    <%= render :file => 'shared/reminders' unless locked_out? -%>
    <div class="header">
		<%= link_to image_tag "logo_big.png", {:action => :home} %>
    	<%= render :file => 'shared/tabs' unless locked_out? -%>  

    </div>
    <div class="content">
      <%= render :file => 'shared/nav' unless current_controller == 'home' && !logged_in? %>
      <div class="announcement"><%= @settings.announcement if current_controller == 'home' -%></div>
      <%= render :partial => 'search/form.html.erb' if current_controller == 'search' -%>
      <%= render :file => 'shared/flash' -%>
      <%= yield %>
      <%= render :file => 'shared/nav2' -%>
      <%= render :file => 'shared/stats' unless locked_out? -%>
    </div>
    <div class="footer">		
		<%= @settings.footer -%></div>
  </div>
</body>
</html>