<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<meta name="description" content="<%=h page_title -%>" />
 	<meta name="google-site-verification" content="adJS4t8nvjIMoArQc5nNOgQQ2In3gl7wD82IPqPPQw4" />
	<meta name="msvalidate.01" content="8EF49DFC339289D255EE8F42D8CAD968" />
	<% if current_controller == 'tandems' && current_action == 'show' %>
		<meta property="og:title" content="<%= h @tandem.user.login.capitalize + " " + page_title.downcase! -%>"/> 
		<meta property="og:type" content="public_figure"/> 
		<meta property="og:image" content="<%= request.protocol + request.host_with_port + image_path('logo_big.png') %>"/>
		<meta property="og:url" content="<%= request.protocol + request.host_with_port + request.request_uri %>"/> 
		<meta property="og:site_name" content="Linguar.com"/>   
		<meta property="fb:admins" content="614291758"/>
	<% end %>

  <title><%=h page_title -%></title>
  <%= render :file => 'shared/rss' unless @settings.private? %>
  <%= javascript_include_tag "prototype", "audio_player", "calendar_date_select", "prototip", :cache => true %>
  <script type="text/javascript" src="http://linguar.com/javascripts/scriptaculous.js?load=effects,builder"></script>
   <% favicon_tag %>
  <%= theme_css %>
  <% unless @map == nil %>
	<%= GMap.header %>
    <%= @map.to_html %>
  <% end%>
</head>
<body>
  <div class="wrapper">
    <%= render :file => 'shared/reminders' unless locked_out? -%>
    <div class="header">
		<%= link_to (image_tag "logo_big.png"), root_url %>
    	<%= render :file => 'shared/tabs' unless locked_out? -%>  

    </div>
    <div class="content">
      <%= render :file => 'shared/nav' unless current_controller == 'home' && !logged_in? %>
      <div class="announcement"><%= @settings.announcement if current_controller == 'home' -%></div>
      <%= render :partial => 'search/form.html.erb' if current_controller == 'search' -%>
      <%= render :file => 'shared/flash' -%>
      <%= yield %>
      <%= render :file => 'shared/nav2' -%>
      <%= render :file => 'shared/stats' unless locked_out? -%>
    </div>
    <div class="footer">		
		<%= @settings.footer -%></div>
  </div>
  <% if ENV['RAILS_ENV'] != 'development' %>
  <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
	var pageTracker = _gat._getTracker("UA-8842090-2");
	pageTracker._trackPageview();
  } catch(err) {}</script>
  <% end %>
</body>
</html>