<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="<%=h page_title -%>" />
  <title><%=h page_title -%></title>
  <%= render :file => 'shared/rss' unless @settings.private? %>
  <%= javascript_include_tag "prototype", "audio_player", "calendar_date_select", "prototip", :cache => true %>
  <script type="text/javascript" src="http://linguar.com/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script type="text/javascript" src="http://linguar.com/javascripts/lightbox.js"></script>
  <link rel="stylesheet" href="http://linguar.com/stylesheets/lightbox.css" type="text/css" media="screen" />
  <%= favicon_tag %>
  <%= header_css %>
  <%= theme_css %>
</head>
<body>
  <div class="wrapper">
    <%= render :file => 'shared/reminders' unless locked_out? -%>
    <div class="header">
      <h1><%= link_to h(@settings.title), root_path -%></h1>
      <div class="tagline"><%= h @settings.tagline -%></div>
      <%= render :file => 'shared/tabs' unless locked_out? -%>
    </div>
    <div class="content">
      <%= render :file => 'shared/nav' unless current_controller == 'home' && !logged_in? %>
      <div class="announcement"><%= @settings.announcement if current_controller == 'home' -%></div>
      <%= render :partial => 'search/form.html.erb' if current_controller == 'search' -%>
      <%= render :file => 'shared/flash' -%>
      <%= yield %>
      <%= render :file => 'shared/nav2' -%>
      <%= render :file => 'shared/stats' unless locked_out? -%>
    </div>
    <div class="footer">		
		<%= @settings.footer -%></div>
  </div>
  <div class="bottom_links">
		<a href="http://linguar.com/glossaries">Vocabulary trainer</a>
		| <a href="http://linguar.com/forums/5-japanese-pen-pals">Japanese pen pals</a>
		| <a href="http://linguar.com/forums/2-german-pen-pals">German pen pals</a>
		| <a href="http://linguar.com/forums/8-chinese-pen-pals">Chinese pen pals</a>
		| <a href="http://linguar.com/forums/10-turkish-pen-pals">Turkish pen pals</a>
		| <a href="http://linguar.com/glossaries/8/cards">JLPT4 vocabulary</a>
		| <a href="http://linguar.com/glossaries/9/cards">JLPT3 vocabulary</a>
		| <a href="http://linguar.com/glossaries/28/cards">New practical chinese reader vocabulary</a>
		| <a href="http://linguar.com/glossaries/7/cards">Hiragana symbols</a>
  </div>
</body>
</html>